oldsurpath/Surpath.ClearstarTest/Web References/PostMaster/PostMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://clearstar.net/Gateway/PostMaster" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://clearstar.net/Gateway/PostMaster" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clearstar.net/Gateway/PostMaster">
      <s:element name="GetEmailConfigurations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailConfigurationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailConfigurationsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterEmailConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMTPServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMTPPort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bUseSSL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailUserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailFromAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMessageType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterEmailConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterEmailConfigurationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bIsHtml" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailCfgToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bIsHtml" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="lstAttachments" type="tns:ArrayOfAttachment" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailCfgToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileBytes" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmail2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmail2Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmailConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMTPServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMTPPort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bUseSSL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailUserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailFromAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmailCfgToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmailConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateEmailConfigurationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmailConfigurationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmailConfigurations" />
  </wsdl:message>
  <wsdl:message name="GetEmailConfigurationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailConfigurationsResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterEmailConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterEmailConfiguration" />
  </wsdl:message>
  <wsdl:message name="RegisterEmailConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterEmailConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmail2SoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail2" />
  </wsdl:message>
  <wsdl:message name="SendEmail2SoapOut">
    <wsdl:part name="parameters" element="tns:SendEmail2Response" />
  </wsdl:message>
  <wsdl:message name="UpdateEmailConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmailConfiguration" />
  </wsdl:message>
  <wsdl:message name="UpdateEmailConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmailConfigurationResponse" />
  </wsdl:message>
  <wsdl:portType name="PostMasterSoap">
    <wsdl:operation name="GetEmailConfigurations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Email Congfigurations.</wsdl:documentation>
      <wsdl:input message="tns:GetEmailConfigurationsSoapIn" />
      <wsdl:output message="tns:GetEmailConfigurationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterEmailConfiguration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registers Email Configuration.</wsdl:documentation>
      <wsdl:input message="tns:RegisterEmailConfigurationSoapIn" />
      <wsdl:output message="tns:RegisterEmailConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends Email through PostMaster.</wsdl:documentation>
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends Email through PostMaster.</wsdl:documentation>
      <wsdl:input message="tns:SendEmail2SoapIn" />
      <wsdl:output message="tns:SendEmail2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailConfiguration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Email Configeration.</wsdl:documentation>
      <wsdl:input message="tns:UpdateEmailConfigurationSoapIn" />
      <wsdl:output message="tns:UpdateEmailConfigurationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostMasterSoap" type="tns:PostMasterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmailConfigurations">
      <soap:operation soapAction="http://clearstar.net/Gateway/PostMaster/GetEmailConfigurations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterEmailConfiguration">
      <soap:operation soapAction="http://clearstar.net/Gateway/PostMaster/RegisterEmailConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://clearstar.net/Gateway/PostMaster/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail2">
      <soap:operation soapAction="http://clearstar.net/Gateway/PostMaster/SendEmail2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailConfiguration">
      <soap:operation soapAction="http://clearstar.net/Gateway/PostMaster/UpdateEmailConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostMasterSoap12" type="tns:PostMasterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmailConfigurations">
      <soap12:operation soapAction="http://clearstar.net/Gateway/PostMaster/GetEmailConfigurations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterEmailConfiguration">
      <soap12:operation soapAction="http://clearstar.net/Gateway/PostMaster/RegisterEmailConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://clearstar.net/Gateway/PostMaster/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail2">
      <soap12:operation soapAction="http://clearstar.net/Gateway/PostMaster/SendEmail2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailConfiguration">
      <soap12:operation soapAction="http://clearstar.net/Gateway/PostMaster/UpdateEmailConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostMaster">
    <wsdl:port name="PostMasterSoap" binding="tns:PostMasterSoap">
      <soap:address location="https://gateway.clearstar.net/CSGWPostMaster/PostMaster.asmx" />
    </wsdl:port>
    <wsdl:port name="PostMasterSoap12" binding="tns:PostMasterSoap12">
      <soap12:address location="https://gateway.clearstar.net/CSGWPostMaster/PostMaster.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>