oldsurpath/Surpath.ClearstarTest/Web References/MFA/MFA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://clearstar.net/Gateway/MFA" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://clearstar.net/Gateway/MFA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clearstar.net/Gateway/MFA">
      <s:element name="VerifyAuthCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sAuthCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAuthCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyAuthCodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMFACookieValidInDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCookieValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMFACookieValidInDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsMFACookieValidInDbResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomQuestionForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomQuestionForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomQuestionForUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuestionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sQuestion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAnswer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyAnswerResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllQuestionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForceReauthentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForceReauthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForceReauthenticationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearSecurityQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearSecurityQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearSecurityQuestionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUpdateAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuestionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustomQuestion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAnswer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUpdateAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUpdateAnswerResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMFAStatusForBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMFAStatusForBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMFAStatusForBOResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserIPAddressValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserIPAddressValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsUserIPAddressValidResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSendAuthCodeToUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sSendBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSendAuthCodeToUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSendAuthCodeToUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyAuthCodeSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAuthCode" />
  </wsdl:message>
  <wsdl:message name="VerifyAuthCodeSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAuthCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IsMFACookieValidInDbSoapIn">
    <wsdl:part name="parameters" element="tns:IsMFACookieValidInDb" />
  </wsdl:message>
  <wsdl:message name="IsMFACookieValidInDbSoapOut">
    <wsdl:part name="parameters" element="tns:IsMFACookieValidInDbResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomQuestionForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomQuestionForUser" />
  </wsdl:message>
  <wsdl:message name="GetRandomQuestionForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomQuestionForUserResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAnswer" />
  </wsdl:message>
  <wsdl:message name="VerifyAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllQuestions" />
  </wsdl:message>
  <wsdl:message name="GetAllQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ForceReauthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:ForceReauthentication" />
  </wsdl:message>
  <wsdl:message name="ForceReauthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:ForceReauthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="ClearSecurityQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:ClearSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="ClearSecurityQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:ClearSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="AddUpdateAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:AddUpdateAnswer" />
  </wsdl:message>
  <wsdl:message name="AddUpdateAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:AddUpdateAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="GetMFAStatusForBOSoapIn">
    <wsdl:part name="parameters" element="tns:GetMFAStatusForBO" />
  </wsdl:message>
  <wsdl:message name="GetMFAStatusForBOSoapOut">
    <wsdl:part name="parameters" element="tns:GetMFAStatusForBOResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserIPAddressValidSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserIPAddressValid" />
  </wsdl:message>
  <wsdl:message name="IsUserIPAddressValidSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserIPAddressValidResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSendAuthCodeToUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSendAuthCodeToUser" />
  </wsdl:message>
  <wsdl:message name="CreateSendAuthCodeToUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSendAuthCodeToUserResponse" />
  </wsdl:message>
  <wsdl:portType name="MFASoap">
    <wsdl:operation name="VerifyAuthCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing if authentication code was correct and encrypted cookie value.</wsdl:documentation>
      <wsdl:input message="tns:VerifyAuthCodeSoapIn" />
      <wsdl:output message="tns:VerifyAuthCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsMFACookieValidInDb">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing whether cookie is valid in the database.</wsdl:documentation>
      <wsdl:input message="tns:IsMFACookieValidInDbSoapIn" />
      <wsdl:output message="tns:IsMFACookieValidInDbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomQuestionForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing random question for user.</wsdl:documentation>
      <wsdl:input message="tns:GetRandomQuestionForUserSoapIn" />
      <wsdl:output message="tns:GetRandomQuestionForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAnswer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing whether answer was correct.</wsdl:documentation>
      <wsdl:input message="tns:VerifyAnswerSoapIn" />
      <wsdl:output message="tns:VerifyAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing all MFA questions.</wsdl:documentation>
      <wsdl:input message="tns:GetAllQuestionsSoapIn" />
      <wsdl:output message="tns:GetAllQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForceReauthentication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Forces Reauthentication For LoginName - Returns XmlNode containing whether deletion of cookie values was successful.</wsdl:documentation>
      <wsdl:input message="tns:ForceReauthenticationSoapIn" />
      <wsdl:output message="tns:ForceReauthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearSecurityQuestions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Clears Security Questions For LoginName - Returns XmlNode containing whether deletion of questions was successful.</wsdl:documentation>
      <wsdl:input message="tns:ClearSecurityQuestionsSoapIn" />
      <wsdl:output message="tns:ClearSecurityQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUpdateAnswer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing whether question and answer was saved for user.</wsdl:documentation>
      <wsdl:input message="tns:AddUpdateAnswerSoapIn" />
      <wsdl:output message="tns:AddUpdateAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMFAStatusForBO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing whether MFA is enabled for BO.</wsdl:documentation>
      <wsdl:input message="tns:GetMFAStatusForBOSoapIn" />
      <wsdl:output message="tns:GetMFAStatusForBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserIPAddressValid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing whether user IPAddress is valid.</wsdl:documentation>
      <wsdl:input message="tns:IsUserIPAddressValidSoapIn" />
      <wsdl:output message="tns:IsUserIPAddressValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSendAuthCodeToUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates and sends Authentication Code to user.</wsdl:documentation>
      <wsdl:input message="tns:CreateSendAuthCodeToUserSoapIn" />
      <wsdl:output message="tns:CreateSendAuthCodeToUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MFASoap" type="tns:MFASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyAuthCode">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/VerifyAuthCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMFACookieValidInDb">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/IsMFACookieValidInDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomQuestionForUser">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/GetRandomQuestionForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAnswer">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/VerifyAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestions">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/GetAllQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceReauthentication">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/ForceReauthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSecurityQuestions">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/ClearSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateAnswer">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/AddUpdateAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMFAStatusForBO">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/GetMFAStatusForBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserIPAddressValid">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/IsUserIPAddressValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSendAuthCodeToUser">
      <soap:operation soapAction="http://clearstar.net/Gateway/MFA/CreateSendAuthCodeToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MFASoap12" type="tns:MFASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyAuthCode">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/VerifyAuthCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMFACookieValidInDb">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/IsMFACookieValidInDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomQuestionForUser">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/GetRandomQuestionForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAnswer">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/VerifyAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuestions">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/GetAllQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceReauthentication">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/ForceReauthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSecurityQuestions">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/ClearSecurityQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateAnswer">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/AddUpdateAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMFAStatusForBO">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/GetMFAStatusForBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserIPAddressValid">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/IsUserIPAddressValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSendAuthCodeToUser">
      <soap12:operation soapAction="http://clearstar.net/Gateway/MFA/CreateSendAuthCodeToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MFA">
    <wsdl:port name="MFASoap" binding="tns:MFASoap">
      <soap:address location="http://gateway.clearstar.net/CSGWMFA/MFA.asmx" />
    </wsdl:port>
    <wsdl:port name="MFASoap12" binding="tns:MFASoap12">
      <soap12:address location="http://gateway.clearstar.net/CSGWMFA/MFA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>