oldsurpath/Surpath.ClearstarTest/Web References/Invoice/Invoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://clearstar.net/Gateway/wsInvoice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://clearstar.net/Gateway/wsInvoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clearstar.net/Gateway/wsInvoice">
      <s:element name="GetInvoices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoicesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iInvoiceNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceDetailResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iInvoiceNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="GetInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetail" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceReport" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceReportResponse" />
  </wsdl:message>
  <wsdl:portType name="InvoiceSoap">
    <wsdl:operation name="GetInvoices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing invoices for customer.</wsdl:documentation>
      <wsdl:input message="tns:GetInvoicesSoapIn" />
      <wsdl:output message="tns:GetInvoicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing detailed invoice information.</wsdl:documentation>
      <wsdl:input message="tns:GetInvoiceDetailSoapIn" />
      <wsdl:output message="tns:GetInvoiceDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns byte array containing Invoice report.</wsdl:documentation>
      <wsdl:input message="tns:GetInvoiceReportSoapIn" />
      <wsdl:output message="tns:GetInvoiceReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceSoap" type="tns:InvoiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsInvoice/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetail">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsInvoice/GetInvoiceDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceReport">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsInvoice/GetInvoiceReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InvoiceSoap12" type="tns:InvoiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvoices">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsInvoice/GetInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetail">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsInvoice/GetInvoiceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceReport">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsInvoice/GetInvoiceReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Invoice">
    <wsdl:port name="InvoiceSoap" binding="tns:InvoiceSoap">
      <soap:address location="https://gateway.clearstar.net/csgwInvoice/Invoice.asmx" />
    </wsdl:port>
    <wsdl:port name="InvoiceSoap12" binding="tns:InvoiceSoap12">
      <soap12:address location="https://gateway.clearstar.net/csgwInvoice/Invoice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>