oldsurpath/Surpath.ClearstarTest/Web References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://clearstar.net/Gateway/wsService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://clearstar.net/Gateway/wsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clearstar.net/Gateway/wsService">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServicesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDotConnectExample" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sGWOrderFieldsExample" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceDetailResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceGroupsForBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceGroupsForBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceGroupsForBOResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceProductLinesForBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceProductLinesForBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceProductLinesForBOResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSvcsByCountriesGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCountries" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sGroups" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSvcsByCountriesGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSvcsByCountriesGroupsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceRestrictedResultsSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceRestrictedResultsSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceRestrictedResultsSettingsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServiceRestrictedResultsSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bRestrictedResultsOn" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sFlaggedResultsText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNonFlaggedResultsText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bApplyToAllSvcsInGrp" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServiceRestrictedResultsSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetServiceRestrictedResultsSettingsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceFieldsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableSuppliersForService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableSuppliersForServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableSuppliersForServiceResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServicePreferredSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iSourceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dCharge" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="bIsDefault" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="cReviewResults" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="bPurgeData" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="iPurgeAfterDays" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iPurgeMethodID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iPurgeLevelID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bApplyToAllCustomers" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServicePreferredSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateServicePreferredSupplierResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteServicePreferredSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iBOID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sServiceNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iSourceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteServicePreferredSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteServicePreferredSupplierResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceDetail" />
  </wsdl:message>
  <wsdl:message name="GetServiceDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceGroupsForBOSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceGroupsForBO" />
  </wsdl:message>
  <wsdl:message name="GetServiceGroupsForBOSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceGroupsForBOResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceProductLinesForBOSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceProductLinesForBO" />
  </wsdl:message>
  <wsdl:message name="GetServiceProductLinesForBOSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceProductLinesForBOResponse" />
  </wsdl:message>
  <wsdl:message name="GetSvcsByCountriesGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSvcsByCountriesGroups" />
  </wsdl:message>
  <wsdl:message name="GetSvcsByCountriesGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSvcsByCountriesGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceRestrictedResultsSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceRestrictedResultsSettings" />
  </wsdl:message>
  <wsdl:message name="GetServiceRestrictedResultsSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceRestrictedResultsSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SetServiceRestrictedResultsSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SetServiceRestrictedResultsSettings" />
  </wsdl:message>
  <wsdl:message name="SetServiceRestrictedResultsSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SetServiceRestrictedResultsSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceFields" />
  </wsdl:message>
  <wsdl:message name="GetServiceFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableSuppliersForServiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableSuppliersForService" />
  </wsdl:message>
  <wsdl:message name="GetAvailableSuppliersForServiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableSuppliersForServiceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServicePreferredSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateServicePreferredSupplier" />
  </wsdl:message>
  <wsdl:message name="UpdateServicePreferredSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServicePreferredSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteServicePreferredSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteServicePreferredSupplier" />
  </wsdl:message>
  <wsdl:message name="DeleteServicePreferredSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteServicePreferredSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetServices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing services available to customer.</wsdl:documentation>
      <wsdl:input message="tns:GetServicesSoapIn" />
      <wsdl:output message="tns:GetServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing detailed service information.</wsdl:documentation>
      <wsdl:input message="tns:GetServiceDetailSoapIn" />
      <wsdl:output message="tns:GetServiceDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceGroupsForBO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing services groups available to BO.</wsdl:documentation>
      <wsdl:input message="tns:GetServiceGroupsForBOSoapIn" />
      <wsdl:output message="tns:GetServiceGroupsForBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceProductLinesForBO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing services product lines available to BO.</wsdl:documentation>
      <wsdl:input message="tns:GetServiceProductLinesForBOSoapIn" />
      <wsdl:output message="tns:GetServiceProductLinesForBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSvcsByCountriesGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing services available to customer by group and country.</wsdl:documentation>
      <wsdl:input message="tns:GetSvcsByCountriesGroupsSoapIn" />
      <wsdl:output message="tns:GetSvcsByCountriesGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceRestrictedResultsSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing Service Restricted Results Settings</wsdl:documentation>
      <wsdl:input message="tns:GetServiceRestrictedResultsSettingsSoapIn" />
      <wsdl:output message="tns:GetServiceRestrictedResultsSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServiceRestrictedResultsSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing whether setting of Service Restricted Results Settings was succesful.</wsdl:documentation>
      <wsdl:input message="tns:SetServiceRestrictedResultsSettingsSoapIn" />
      <wsdl:output message="tns:SetServiceRestrictedResultsSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceFields">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing ...</wsdl:documentation>
      <wsdl:input message="tns:GetServiceFieldsSoapIn" />
      <wsdl:output message="tns:GetServiceFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSuppliersForService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing ...</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableSuppliersForServiceSoapIn" />
      <wsdl:output message="tns:GetAvailableSuppliersForServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServicePreferredSupplier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing ...</wsdl:documentation>
      <wsdl:input message="tns:UpdateServicePreferredSupplierSoapIn" />
      <wsdl:output message="tns:UpdateServicePreferredSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServicePreferredSupplier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns XmlNode containing ...</wsdl:documentation>
      <wsdl:input message="tns:DeleteServicePreferredSupplierSoapIn" />
      <wsdl:output message="tns:DeleteServicePreferredSupplierSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetail">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceGroupsForBO">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceGroupsForBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceProductLinesForBO">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceProductLinesForBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSvcsByCountriesGroups">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetSvcsByCountriesGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceRestrictedResultsSettings">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceRestrictedResultsSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceRestrictedResultsSettings">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/SetServiceRestrictedResultsSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceFields">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSuppliersForService">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/GetAvailableSuppliersForService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServicePreferredSupplier">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/UpdateServicePreferredSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServicePreferredSupplier">
      <soap:operation soapAction="http://clearstar.net/Gateway/wsService/DeleteServicePreferredSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDetail">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceGroupsForBO">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceGroupsForBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceProductLinesForBO">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceProductLinesForBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSvcsByCountriesGroups">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetSvcsByCountriesGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceRestrictedResultsSettings">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceRestrictedResultsSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceRestrictedResultsSettings">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/SetServiceRestrictedResultsSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceFields">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetServiceFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSuppliersForService">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/GetAvailableSuppliersForService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServicePreferredSupplier">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/UpdateServicePreferredSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServicePreferredSupplier">
      <soap12:operation soapAction="http://clearstar.net/Gateway/wsService/DeleteServicePreferredSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://gateway.clearstar.net/csgwservice/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://gateway.clearstar.net/csgwservice/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>